:root {
    --orange: #FF5E38;
    --orangeLight: #fd7253;
    --white: #FDFDFD;
}
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-300%);
    }
    90% {
      transform: translateX(15%);
    }
    95% {
      transform: translateX(-10%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
body {
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right top, #010101, #010101, #010100, #000000, #000000);
}

main h1 {
    text-align: center;
    color: var(--white);
}
#menuUl {
    animation: 1s ease-out 0s 1 slideInFromLeft;
    width: 200px;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menuLi {
    user-select: none;
    background-color: var(--orange);
    height: 30px;
    border-radius: 12px;
    color: white;
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0px 0px 2px var(--orangeLight), 1px 2px 4px -2px var(--orangeLight);
    
    
}

.menuLi:hover {
    cursor: pointer;
    transform: perspective(247px) rotateY(3deg);
}
.menuLi:active {
    box-shadow: inset 0px 0px 2px #000000, 1px 2px 0px #000000;
}

footer {
    width: 100vw;
    height: 30px;
    bottom: 0px;
    position: absolute;
    background-color: var(--orange);
    box-shadow: -1px -2px 4px -2px var(--orangeLight);;
}