:root {
    --orange: #FF5E38;
    --orangeLight: #fd7253;
    --white: #FDFDFD;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    color: #000000;
    background-image: linear-gradient(to right top, #010101, #010101, #010100, #000000, #000000);
    font-family: 'Montserrat', sans-serif;
}

#flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
}

header {
    position: fixed;
    margin: 30px 0px;
    top: 0px;
    text-align: center;
    width: 100%;
    height: 30px;
    color: var(--orangeLight);
}

#tagsDiv {
    cursor: pointer;
    background-color: var(--orange);
    box-shadow: 1px 3px 0px #000000;
    border-radius: 12px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    color: white;
    margin: 20px 0px;
}

#tagsDiv p {
    width: 100%;
    text-align: center;
    margin: 10px 0px;
    
}

#tagsDiv label {
    cursor: pointer;
}

.tagsRadio {
    cursor: pointer;
    margin: 60px;
}

#resultado {
    margin: 5px 0px;
    width: 150px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 12px;
    align-items: center;
    color: white;
    background-color: var(--orange);
    box-shadow: 1px 3px 0px #000000;

}

#numberWord {
    margin: 10px 0px 9px 0px;
    height: 30px;
    width: 50px;
    font-size: 15px;
    font-weight: bolder;
}

#labelCaracter {
    color: white;
    font-weight: bold;
    font-size: 0.9em;
    padding-bottom: 3px;
    border-bottom: var(--orange) 1px solid;
}

#btnDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btnCopy {
    margin: 20px 0px 2px 0px;
    height: 30px;
    width: 130px;
    border: none;
    border-radius: 12px;
    box-shadow: 1px 3px 0px #000000;
    color: white;
    background-color: var(--orange);
}

#btnGerar {
    margin: 20px 0px 2px 0px;
    height: 30px;
    width: 140px;
    border: none;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    background-color: var(--orange);
    box-shadow: inset 0px 0px 2px var(--orangeLight);
    box-shadow: 1px 3px 0px #000000;
    transition: all 1s ease-in-out;
}

#btnGerar:active,
#btnCopy:active {
    box-shadow: inset 0px 0px 2px #000000, 1px 2px 0px #000000;
}

footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: #ffffff;
    background-color: var(--orange);
    box-shadow: -1px -2px 4px -2px var(--orangeLight);
}

